<!DOCTYPE html>
<html lang="{{ site.locale }}">  
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}_{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">    
    {% capture desps %}
      {% if page.content contains "<!--excerpt.start-->" and page.content contains "<!--excerpt.end-->" %}
        {{ page.content | split: "<!--excerpt.start-->" | last | split: "<!--excerpt.end-->" | first | strip_html | truncate: 140 }}
      {% else %}
        {{ page.content | strip_html | truncate: 140 }}
      {% endif %}
    {% endcapture %}
    <meta name="description" content="{{ desps | strip_newlines | strip }}" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?6565ac97678184bad33e48e6e0d2c634";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      });
    </script>    
  </script>
  </head>

  <body>
    {% include post-header.html %}
    <section class="main-content">
      {% if page.showheadline %}
      <blockquote class="post-headline"><em>版权声明：本站所有文章如未特别说明均为原创，未经本人许可禁止转载<br>
      本文链接：<a href="{{ site.siteurl }}{{ page.url | uri_escape }}">{{ site.siteurl }}{{ page.url | uri_escape }}</a></em></blockquote>
      <p class="post-headline">
        {% for tag in page.tags %}<a class="post-headline-tag" href="/tags.html#{{ tag }}">{{ tag }}</a>{% endfor %}
        <a class="post-headline-author" href="/about.html">{{ site.author.name }}</a>
        <span class="post-headline-date">{{ page.date | date: "%Y年%m月%d日发布" }}</span>
        <span class="post-headline-date">所属分类：<a href="/categories.html#{{ page.categories }}">{{ page.categories }}</a>&nbsp;&nbsp;</span>
        <span class="post-headline-date"><a href="/">返回主页</a></span>
      </p>
      {% endif %}      
      {{ content }}
      <br><p class="post-endline">编辑于{{ page.date | date: "%Y-%m-%d" }}</p>
      <p class="post-endline">{{ site.author.name }}</p><br>
      {% if page.previous != null %}
        <p class="post-navigation" >上一篇：<a href="{{ page.previous.url }}">{{ page.previous.title }}</a></p>
      {% endif %}
      {% if page.next != null %}
        <p class="post-navigation">下一篇：<a href="{{ page.next.url }}">{{ page.next.title }}</a></p>
      {% endif %}      
      {% include page-footer.html %}      
    </section>
  </body>
</html>